/* css */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    /* background-color: burlywood; */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,193,174,1) 0%, rgba(203,212,214,1) 100%);
}

.chat-container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#chatbot {
    border: 1px solid #ddd; 
    /* background-color:cadetblue; */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,193,174,1) 0%, rgba(203,212,214,1) 100%);
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.user-message {
    background: #cfe2f3;
    padding: 10px;
    border-radius: 4px;
    margin: 5px auto;
}

.bot-message{
    background: #d9ead3;
    padding: 10px;
    border-radius: 4px;
    margin: 5px auto;
}

#chat-form {
    width: 100%;
    display: flex;
    gap: 10px; 
    margin: 0 auto; 
}

#user_input {
    /* border: 1px solid red; */
    border: 1px solid #ddd; 
    width: 80%;  
    padding: 1.5%;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    border: 1px solid #ddd; 
    width: 20%;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* color: grey; */
}

button:hover {
    background-color:rgb(127, 177, 178);
    color: #fff;
    transition-delay:3ms;
}
